

<div class="container">

  <div class="box box-10">

    <div class="box box-3 bg-pink">
      <div class="box-title">
        COUNT
        <div class="sub-heading" id="calulate-bac"></div>
      </div>
    </div>
    <div class="box box-4">
      <div class="box-title">
         ALCOHOL TRACKER
        <div class="sub-heading"><%= @user.name %></div>
        <button class="userinfo">info</button>
      </div>
    </div>
    <div class="box box-3">
      <div class="box-title">
        AMOUNT OF CALORIES
      <div class="sub-heading" id="calulate-calories"></div>
     </div>
    </div>
    <div class="box box-10" id="usertoggle">
      <div class="box-title">
        USERS INFO
        <div class="sub-heading"><%= @user.name %></div>
        <div class="sub-heading"><%= @user.height %></div>
        <div class="sub-heading"><%= @user.weight %></div>
        <div class="sub-heading"><%= @user.age %></div>
      </div>
    </div>
    <div class="box box-2 bg-pink">
    <div id= "drunk-level"></div>
    </div>
    <div class="box box-3">
      <div class="box-title" id="drink_form">
        ADD A DRINK
        <button id="add_drink">add drink</button>
     </div>
    </div>
    <div class="box box-2">
    <div class="box-title">
        AMOUNT OF DRINKS
      <div class="sub-heading" id="drink-count"></div>
     </div>
    </div>
    <div class="box box-3" >
      <div class="box-title" id="drink-list">
        LIST OF DRINKS
        <button class="drinkinfo">LIST</button>
      </div>
    </div>
    <div class="box box-10" id="drinktoggle">
      <% @user.consumptions.each do |consumption| %>
        <ul id="deletedrinklist">
          <li><%= consumption.drink.name %></li>
          <button id="destroy" data-id="<%= consumption.id %>">Delete</button>
        </ul>
      <% end %> 
    </div>

    <div class="box box-10" id="adddrinktoggle">
      <div class="box-title add-drink">
        What did you drink?
        <%= form_for [@user, @consumption] do |f| %>
          <%= f.collection_select(:drink, Drink.all, :id, :name) %> 
          <%= f.submit %>
        <% end %>  
        <!-- <button id="add_drink">add drink</button> -->
      </div>
    </div>
    <div class="box box-3 bg-cink" id ="hallo">
    </div>
     


    <div class="box box-3">
    <%= @drink_beer.count %>
    </div>
    <div class="box box-4">
      <div id="drive"></div>
    </div>



</div>





