
<div class="head">YOUR PERSONAL ALCOHOL TRACKER </div>
<div class="container">

  <div class="box-container">

    <div class="box col-3 margin-right">
      <div class="box-title">
        COUNT
        <div class="sub-heading" id="calulate-bac"></div>  
      </div>
      <p class="description">BLOOD ALCOHOL LEVEL</p>
    </div>

    <div class="box col-3 ">
      <div class="box-title">
         ALCOHOL <%= @user.name %>TRACKER
       <!--  <div class="sub-heading"></div> -->
        <button class="userinfo">info</button>
      </div>
    </div>

    <div class="box col-3 margin-left">
      <div class="box-title">
        AMOUNT 
      <div class="sub-heading" id="calulate-calories"></div>
     </div>
      <p class="description">TOTAL CALORIES BOOZED</p>
    </div>
  </div>

  <div id="usertoggle">
    <div class="userinfo">
      USERS INFO
      <div class="sub-heading"><%= @user.name %></div>
      <div class="sub-heading"><%= @user.height %></div>
      <div class="sub-heading"><%= @user.weight %></div>
      <div class="sub-heading"><%= @user.age %></div>
    </div>
  </div>

  <div class="box-container">

  <div class="box col-4 black">
      <div class="box-title">
        AMOUNT
        <div class="sub-heading" id="drink-count"></div>
      </div>
      <p class="description-right">YOUR TOTAL SCORE</p>
    </div>

    <div class="box col-4 white">
      <div class="box-title" id="drink_form">
        ADD A DRINK
        <button id="add_drink">add drink</button>
     </div>
    </div>
     
     <div class="box col-4 black box-title">
      <div id= "drunk-level"></div>
    </div>
  

    <div class="box col-4 white">
      <div class="box-title" id="drink-list">
        GET SOBER 
        <div><button class="drinkinfo">LIST</button></div>
      </div>
    </div>
  </div>

  <div class="box box-title" id="drinktoggle">
    <% @user.consumptions.each do |consumption| %>
      <ul id="deletedrinklist">
        <li><%= consumption.drink.name %></li>
        <button id="destroy" data-id="<%= consumption.id %>">Delete</button>
      </ul>
    <% end %> 
  </div>

  <div class="box-container">
    <div class="box" id="adddrinktoggle">
      <div class="box-title add-drink">
        What did you drink?
        <%= form_for [@user, @consumption] do |f| %>
          <%= f.collection_select(:drink, Drink.all, :id, :name) %> 
          <%= f.submit %>
        <% end %>  
        <button id="add_drink">add drink</button>
      </div>
    </div>
  </div>
  
  <div class="box-container" >
   
    <div class="box bg-cink col-5 box-title" id="hallo"></div>
       
    <div class="box col-5">
      <div class="box-title" id="drive"></div>
    </div>
      
    <div class="box col-5 ">
      <div class="box-4">
        <h2 class="">BEERS</h2>
        <div class="title-drink" id="beer"></div>
      </div>
      <div class="box-4">
        <h2>WINE</h2>
        <div class="title-drink" id="wine"></div>
      </div>
      <div class="box-4">
        <h2>SPIRITS</h2>
        <div class="title-drink" id="spirit"></div>
      </div>
      <div class="box-4">
        <h2>SHOT  </h2>
        <div class="title-drink" id="shot"></div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="flip-container" ontouchstart="this.classList.toggle('hover');">

  <div class="flipper">
    <div class="front">
      hello
    </div>
    <div class="back">
      jkasdjfl
    </div>
  </div>
</div> -->




